<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>QuestionsList</servlet-name>
		<servlet-class>reivax.norac.interviewprep.webapp.QuestionsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QuestionsList</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadQuestions</servlet-name>
		<servlet-class>reivax.norac.interviewprep.webapp.UploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>10485760</max-file-size>
			<max-request-size>20971520</max-request-size>
			<file-size-threshold>5242880</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadQuestions</servlet-name>
		<url-pattern>/UploadQuestionsAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadSample</servlet-name>
		<servlet-class>reivax.norac.interviewprep.webapp.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadSample</servlet-name>
		<url-pattern>/DownloadSampleAction</url-pattern>
	</servlet-mapping>

</web-app>